/* hack to fix minor bug in fezvrasta:bootstrap-material-design
   see: https://github.com/FezVrasta/bootstrap-material-design/issues/394
*/
.btn-default:not(.btn-link):not(.btn-flat) {
  color: black;
}

body {
  padding-top: 50px;
}

@media (min-width: 1200px) {
  body {
    padding-top: 60px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.story {
  height: 50%;
}

.buffer20 {
  margin-top: 20px;
}

.player-label {
  font-size: 16px;
}

.progress {
  height: 20px;
}
