<template name='game'>
  {{#if needsPrompt}}
    {{> quickForm id='newPromptForm' schema='PromptSchema' type='normal' buttonContent='Create New Prompt'}}
  {{else}}
    <div class='story'>
      <p>
        <span class='h4'>{{story}}</span>
      </p>
    </div>
  {{/if}}

  <p>
    {{> players}}
  </p>

  {{#if readyToStart}}
    <button class='btn btn-success start-game'>Start Game</button><br>
  {{/if}}

  {{#if canSkipMove}}
    <button class='btn btn-info skip-move'>Skip!</button><br>
  {{else}}
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percentTimeLeft}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentTimeLeft}}%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
  {{/if}}

  {{#if usersTurn}}
    {{> insertWord}}
  {{/if}}



</template>
